{% include header.html %}


 <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <!--<a class="blog-nav-item active" href="/index.html">Home</a>-->
          <!--<a class="blog-nav-item" href="#">About</a>-->
		  <a class="blog-title" href="/index.html">
			  <p class="blog-description">
			  <div class='tl'>
				  <span class="col1a">Le</span>
				  <span class="col1b">Blog</a></span>
				  <span class="col2a">by Tim</span>
				  <span class="col2b">Le</span><span class="col2a">onard</span>
				   </p></div>
        </nav>

      </div>

    </div>
        
    <div class="container">
		<!-- <p class="lead blog-description2">Construction through code, deconstruction through analytics</p>-->
		<p class="lead blog-description2">"Make it work" - Tim Gunn</p>
		

      <div class="blog-header">

      </div>

      <div class="row">

        <div class="col-sm-12 blog-main">

			<div class="blog-post">
			<h2 class="blog-post-title">{{ page.title }}</h2>
            <p class="blog-post-meta">{{ page.date | date: "%-d %B %Y" }}</p>
			
      {{ content }}
	  </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->

        <div class="col-sm-12 blog-sidebar">

          <div class="sidebar-module col-sm-5 RePos">
            <h4>Recent Posts</h4>
            <ol class="list-unstyled">

				{% for post in site.posts limit: 10 %}
				
					<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					
				{% endfor %}

            </ol>
          </div>
		  
    <div class="blog-footer">
        <div class="sidebar-module col-sm-7 sidebar-module-inset">
            <h4>About</h4>
            <p>I'm a PhD student in neuroscience. I live in a world of timeseries data. Most of my work is in Matlab and R environment. I'm hooked on data exploration and visualization. </p>
		<a href="https://github.com/timle">GitHub</a></li> | <a href="https://twitter.com/letimle">Twitter</a> </li>
		
		</div>
		  		  
		  
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->





 


    </div><!-- /.blog-footer>

    </div><!-- /.container -->



{% include footer.html %}